.login{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 100px;
    border: none;
}

.login .item{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: none;
}

.login .item form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.login .item input{
    padding: 20px;
    border: none;
    outline: none;
    background-color: rgba(17, 25, 40, 0.6);
    color: white;
    border-radius: 5px;
}

.login .item label{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    text-decoration: underline;
}

.login .item img{
    width: 48px;
    height: 48px;
    border-radius: 10px;
    object-fit: cover;
    opacity: 0.6;
}

.login button{
    width: 100%;
    padding: 20px;
    border: none;
    background-color: #068fce;
    color: white;
    border-radius: 5px; 
    cursor: pointer;
    font-weight: 500;
}

.separator{
    height: 80%;
    width: 2px;
    background-color: #dddddd35;
}